# PyCharm
.idea/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Виртуальные окружения
venv/
env/
.virtualenv/

# Зависимости
Pipfile.lock
poetry.lock
.env

# Логи
*.log

# База данных
*.sqlite3
*.db

# Системные файлы
.DS_Store
Thumbs.db

# Docker
*.stackdump
docker-compose.override.yml

#config.py
config.py
